<li class="meetup-item">
  <article>
    <div class="meetup-summary">
      <div class="meetup-image">
        <img src="{{ meetup_item.image.url }}" alt="{{ meetup_item.title }}">
      </div>
      <div class="meetup-details">
        <h3>{{ meetup_item.title }}</h3>
        <address>{{ meetup_item.location.name }}</address>
      </div>
    </div>
    <div class="meetup-actions">
      <a href="{% url 'meetup-detail' meetup_item.slug %}" class="btn">More Details</a>
    </div>
  </article>
</li>