{% extends 'meetups/base/base.html' %}
{% load static %}

{% block title %}
{{ meetup_title }}
{% endblock %}

{% block site_css %}
<link rel="stylesheet" href="{% static 'meetups/styles/meetup-detail.css' %}">
{% endblock %}

{% block main_heading %}
{{ meetup_title }}
{% endblock %}

{% block body %}

{% if meetup_found %}
<article>
  <img src="" alt="">

  <section id="location">
    <h2>Meetups Location</h2>
    <address>This meetup takes place in <span>Location</span> (ADRESS).</address>
  </section>

  <section id="details">
    <h2>What's This Meetup About?</h2>
    <p>{{ meetup_description }}</p>
    <footer>
      <p>Need more details? Please <a href="">contact the organizer.</a></p>
    </footer>
  </section>

  <section id="registration">
    <h2>Join Us!</h2>
    FORM
  </section>
</article>
{% else %}
<h1>No meetup found for this slug, sorry!</h1>
{% endif %}

{% endblock %}
